HTML 
    head
        link(rel='stylesheet', href='style.css')
    body
        h1 Newlands
        h2 This is the start of my website. 
    
        button(onclick="document.getElementById('id01').style.display='block'")
            h1 Login
            
        #"id01"
        .modal
            span(onclick="document.getElementById('id01').style.display='none'" class ="close" title="Close Modal")
            

    
